.header{
    /* margin-top: 0; */
    display: flex;
    justify-content: space-between;
    /* margin-top: 20px; */
    background: #e1e1e1;
    padding: 20px;
}


.menu--phone{
  display: flex;
  flex-direction: column;
  width: 2.5rem;
  height: 3rem;
  gap: .65rem;
  border-radius: 5px;
  border: 1px solid black;
  padding: 0 1px;
 align-items: center;
}

.menu--phone > div{
  background-color: black;
  width: 100%;
  height: 2px;
  transition: all .5s;
  transform-origin: left;
}
.menu--phone  div:nth-child(1){
  margin-top: 10px;
}
.menu--phone:hover  div:nth-child(1){
  transform: rotate(45deg);
  margin-left:12px ;

}
.menu--phone:hover div:nth-child(2){
  opacity: 0;
}
.menu--phone:hover div:nth-child(3){
  transform: rotate(-45deg);
  margin-left:12px ;

}

.menu {
  position: relative;
}

.menu--container{
  height: 100vh;
  width: 50vw;
  position: absolute;
  top: 68px;
  right: -25px; 
  display: none;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  background-color: #e1e1e1;
  padding: 20px;
}
.hidden{
  display: flex;
}

a{
  text-decoration: none;
  color: black;
}

/*Menu completo */

@media(min-width: 740px){
  .menu--phone{
    display: none;
  }
  .menu--container{
    display: flex;
    top: 0;
    right: 0px;
    height: 100%;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
}


/* Modal */
.modals{
  display: none;
}

.content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255 , 255, 255, .9);
}

.modal--content{
  width: 95vw;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50% ,-50%);
  
}